.container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 50px 25px;
}

.titleContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.iframeVideoContainer {
    display: flex;
    justify-content: center;
    max-width: 720px;
    height: 400px;
    width: 100%;
    margin: 0;
}

.iframeGameContainer {
    display: flex;
    justify-content: center;
    max-width: 962px;
    height: 640px;
    margin: auto;
    overflow: hidden;
}

.iframeVideo, .iframeGame {
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
}

.cloudContainer {
    position: absolute;
    z-index: -1;
}

.logoContainer {
    margin-top: 65px;
}

.boysContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.seriousGameTitleContainer {
    display: flex;
    justify-content: center;
    margin-top: 42px;
    color: white;
    font-size: 30px;
}